/*
*********
RESET
*********
*/

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

/*
*********
MAIN
*********
*/

body {
  background-color: green;
}

.mycard {
  padding: 20px 100px;
  background-color: orange;
  color: #FFFFFF;
}

.img-box {
  width: 100%;
}

