/*
*********
RESET
*********
*/

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

/*
*********
MAIN
*********
*/

body {
  background-color: #3E4E50;
}

header h1 {
  color: #FFFFFF
}

.mycard {
  padding: 20px 100px;
  background-color: #39393F;
  color: #FFFFFF;
}

.img-box {
  width: 100%;
}

